//Variaveis
    //Cores
    $skyblue: #71baff;
    $blue: #3777d4;
    $dankBlue: #043988;
    $softwhite: #f1f1f1;
    $colorText: #333333;
    $gradient-primary: linear-gradient(90deg, rgba(2,0,36,1) 0%, #71baff 0%, #2764c0 100%);